/* slot game styles */

.slot {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

.gameWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameContainer {
  display: flex;
  width: 500px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  column-gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.fade-out {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  opacity: 0;
}

#spinButton {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  height: 75px;
  width: 75px;
  border-radius: 25%;
  background-color: lightcyan;
}

#spinButton:hover {
  background-color: lightgreen;
}