/* Full site cross device compatible */
html {
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  box-sizing: border-box;
  padding-bottom: 1000px;
  padding-top: 3.5rem;
  margin-right: 0;
  margin-left: 0;
  
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
  box-sizing: border-box;
 
}

.innerNav {
  display: flex;
  padding: 1rem;
}

.navLink {
  text-decoration: none;
  margin: .5rem;
  color: darkblue;
  padding: .3rem;
  transition: .3s;
}

.navLink:hover {
  background-color: lightgray;
}

/* Navbar End */

/* Hero Section */

#heroSection {
  background-color: lightcoral;
  display: flex;
  width: 100%;
  height: 25vh;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#avatar {
  width: 20vh;
  transition: 2s;
}

#avatar:hover {
  transform: scale(1.3);
}

#heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}
/* Hero Section END */

/* About Section Start */

#aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  background-color: lightgray;
  width: 80%;
  margin-left:  auto;
  margin-right: auto;
  
}

#aboutContainer {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  width: 95%;
  row-gap: 1.5rem;
  
}

.aboutBox {
  background-color: lightcyan;
  justify-content: center;
  
}

/* Gallery Section Start */
/* Gallery Section End */

/* Game section start */
/* game section End */

/* Contact form section start */
/* Contact section end */

/* Footer section start */
/* Footer section end */

/* Mobile styles */
@media (max-width: 600px) {
  body {
    padding-top: 5.0rem;
     
  }
}