/* canvas styles */

body, html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

#canvas1 {
  background-color: lightpink;
  margin: 0;

}

#canvas2 {
  background-color: lightblue;
  margin: 0;
}

#canvas3 {
  background-color: lightgreen;
  margin: 0;
}