/* Portfolio2 Stylesheet */

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: gainsboro;
}

nav {
  height: 60px;
  background-color: rgb(63, 63, 63);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.linksContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(149, 207, 255)
}

nav a:hover {
  background-color: azure;
}

nav .homeLink{
  margin-right: auto;
}

#sidebarActive{
  display: none;
}

.openSidebarButton, .closeSidebarButton{
  display: none;
}

.container {
  border-style: solid;
  border-color: red;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
}

#heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heroSectionCardContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#aboutSectionCardContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* EXTRA EXTRA LARGE SCREEN */

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* EXTRA LARGE SCREEN */

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* LARGE SCREEN */

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* MEDIUM SCREEN */

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* SMALL SCREENS */

@media (max-width: 640px){
  .container {
    max-width: 475px;
    border-style: solid;
    border-color: green;
  }

  .linksContainer{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: -5px 0 5px rgba(132, 0, 255, 0.25);
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .openSidebarButton, .closeSidebarButton{
    padding: 20px;
    display: block;
  }

  #sidebarActive:checked ~ .linksContainer{
    right: 0;
  }

  #sidebarActive:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}



/* Desktop first media queries */
/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */




/* Mobile first queries */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
/*  */