body, html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

#canvas {
  margin: 0;
  background-color: lightblue;
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
